/* variables */
:root {
    --light-blue: #34aed8;
    --tan: #e6dc95;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* begin style */
body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
}

/* style header */
header {
    padding: 20px 35px;
    background-color: var(--light-blue);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--tan);
    margin: 0;
}
header a {
    text-decoration: none;
    color: var(--tan);
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
}

/* style about me */
#about-me {
    background-color: var(--tan);
    padding: 20px 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#about-me h2 {
    font-size: 30px;
    color: var(--light-blue);
    margin: 20px;
}
.about-text {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
